.backgroundImage{
    background-image: url(../images/rocknRollPic.jpg);
}

.headbox{
    background-color: grey;
    opacity: 0.98;
}

.mainContent{
    background-color: grey;
    opacity: 0.98;
    
}
.questionContent{
    background-color:lightslategray;
    opacity: 0.98;
    height:70vh;
}
